.benefits {
    display: flex;


    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: rem(0px) 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(19px);
    }


    &::before {
        content: url("../../img/icons/separator.png");
        position: absolute;
        top: rem(50px);
        transform: translateX(200%);

        @include tablets {
            transform: translateX(150%);
            display: none;
        }

        @include phones {
            display: none;
        }
    }

    &:first-child {
        padding-left: rem(0px);
    }

    &:last-child {
        padding-right: rem(0px);

        &::before {
            display: none;
        }
    }
}