.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    padding: 0px 3%;
    position: relative;


    &::before {
        content: url("./img/icons/separator.png");
        position: absolute;
        top: 50px;
        transform: translateX(200%);
    }

    &:first-child {
        padding-left: 0px;
    }

    &:last-child {
        padding-right: 0px;

        &::before {
            display: none;
        }
    }
}