.benefits-section {
    position: relative;
    background: url("../img/icons/grey-leaf.png") left top 57% no-repeat;

    &::before {
        content: url("../img/icons/waffles.png");
        position: absolute;
        left: 0px;
        bottom: -25%;
    }
}