.display {
    display: flex;
    justify-content: space-between;
    margin: rem(67px) 0 rem(124px);

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.display__food {
    position: relative;

    @include tablets {
        display: none;

    }
}

.display__main {
    width: 40%;

    @include tablets {
        width: 100%;
        text-align: center;

    }
}

.display__title {
    font-size: rem(35px);
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    margin-bottom: rem(10px);

}

.display__text {
    font-size: rem(18px);
    color: #666666;
    margin-bottom: rem(30px);

    @include tablets {
        padding: 0 14%;
    }
}

.display__box {
    cursor: pointer;
}

.display__box-img {
    &:hover {
        opacity: 0.5;
    }
}