.display {
    display: flex;
    justify-content: space-between;
    margin: rem(67px) 0 rem(124px);
    position: relative;
    right: 0;


    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.display__pic {
    width: rem(474px);
    height: rem(424px);

    @include tablets {
        width: rem(370px);
        height: rem(337px);
    }
}

.display__food {
    position: relative;

    @include tablets {
        display: none;

    }
}

.display__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;


    @include tablets {
        width: 100%;
        text-align: center;
    }
}

.display__title {
    font-size: rem(35px);
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    margin-bottom: rem(10px);

    @include tablets {
        font-size: rem(30px);


    }

    @include phones {
        padding: 0 20%;

    }
}

.display__text {
    font-size: rem(18px);
    color: #666666;
    margin-bottom: rem(30px);

    @include tablets {
        padding: 0 15%;
    }
}

.display__box {
    cursor: pointer;
}

.display__box-img {
    &:hover {
        opacity: 0.5;
    }
}

.display__price {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include tablets {
        justify-content: center;
    }
}