.food {
    display: flex;
    flex-direction: column;
}

.food__item {
    display: flex;
    justify-content: space-around;
}


.food__text {
    font-size: rem(16px);
    font-weight: bold;
    color: #000;
}

.food__gram {
    font-size: rem(16px);
    font-weight: bold;
    color: #000;
}