.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(25px);

    @include phones {
        margin-bottom: rem(1px);
    }

}

.headline__subtitle {
    padding: rem(0px) 26% rem(49px);

    @include phones {
        padding: 0 5% 5%;
    }
}