.hero {
    background: url("/img/icons/big-leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    max-height: 650px;
    color: #fff;
    position: relative;

    &::before {
        position: absolute;
        bottom: -55px;
        left: 20px;
        content: url(/img/icons/leaf1.png);
    }

    &::after {
        content: url(/img/icons/berry-leafs.png);
        position: absolute;
        bottom: -55px;
        right: 100px;
    }
}


.hero__title-section {
    width: 460px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
    background: url("/img/icons/choco.png") right center / 50% auto no-repeat;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 100px;
}