$containerwidth: 940px;
$basefontsize: 18px;
$blue: #61c4d9;
$darkgreen: #365a49;
$z-fixed-menu: 100;
$tablets: 768px;
$phones: 480px;
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans&display=swap');
@import "media";
@import "layout";
@import "sprite";
@import "hero";
@import "header";
@import "features";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "benefits-section";
@import "display";
@import "details";
@import "prices";
@import "food";
@import "slider";
@import "button";
@import "reviews";
@import "interactive-avatar";
@import "order-section";
@import "form";
@import "radio";
@import "fixed-menu";
@import "menu";
@import "hamburger";
@import "map-section";
@import "footer";
@import "contacts";
@import "socials";