@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Alegreya Sans, Open Sans, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.phone-number__icon-elem {
  fill: white;
}

.feature__icon-elem {
  fill: #c3f5fd;
}

.benefit__icon {
  fill: black;
}

.phone-number__icon-elem-green {
  fill: #365a49;
}

.socials__link-elem {
  fill: black;
}

.menu__cross {
  fill: #c2c3c4;
}

.button__arrow-elem {
  fill: #151515;
}

.button__arrow-elem-left {
  transform: scale(-1, 1);
}

.hero {
  background: url("../../img/icons/big-leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero::after {
    display: none;
  }
}
.hero::before {
  position: absolute;
  bottom: -3.0555555556rem;
  left: 1.1111111111rem;
  content: url(../../img/icons/leaf1.png);
}
.hero::after {
  content: url(../../img/icons/berry-leafs.png);
  position: absolute;
  bottom: -3.0555555556rem;
  right: 5.5555555556rem;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    margin-bottom: 0.8888888889rem;
    background: url("../../img/icons/chocoberry.png") center center/contain no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
  background: url("../../img/icons/choco.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  padding-right: 5.5555555556rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0% 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header .phone-number,
.header .header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0rem;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #fff;
  color: #365a49;
}
.btn--theme--white:hover {
  color: #fff;
  background: #365a49;
}
.btn--theme--green {
  color: white;
  background: #365a49;
}
.btn--theme--green:hover {
  color: #365a49;
  background: white;
}
.btn--theme--transparent {
  background: transparent;
  color: black;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #365a49;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #365a49;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.section__slider {
  display: flex;
  align-items: center;
  position: relative;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0.0555555556rem;
  }
}

.headline__subtitle {
  padding: 0rem 26% 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5% 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0rem 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item::before {
  content: url("../../img/icons/separator.png");
  position: absolute;
  top: 2.7777777778rem;
  transform: translateX(200%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    transform: translateX(150%);
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0rem;
}
.benefits__item:last-child {
  padding-right: 0rem;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefits-section {
  position: relative;
  background: url("../../img/icons/grey-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 10%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url("../../img/icons/waffles.png");
  position: absolute;
  left: 0rem;
  bottom: -18%;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.display {
  display: flex;
  justify-content: space-between;
  margin: 3.7222222222rem 0 6.8888888889rem;
}
@media screen and (max-width: 768px) {
  .display {
    flex-direction: column;
    align-items: center;
  }
}

.display__pic {
  width: 26.3333333333rem;
  height: 23.5555555556rem;
}
@media screen and (max-width: 768px) {
  .display__pic {
    width: 20.5555555556rem;
    height: 18.7222222222rem;
  }
}

.display__food {
  position: relative;
}
@media screen and (max-width: 768px) {
  .display__food {
    display: none;
  }
}

.display__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .display__main {
    width: 100%;
    text-align: center;
  }
}

.display__title {
  font-size: 1.9444444444rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .display__title {
    font-size: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .display__title {
    padding: 0 20%;
  }
}

.display__text {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .display__text {
    padding: 0 15%;
  }
}

.display__box {
  cursor: pointer;
}

.display__box-img:hover {
  opacity: 0.5;
}

.display__price {
  display: flex;
}

.details {
  display: flex;
}

.details__text {
  font-weight: bold;
  color: #000;
}

.details__item {
  margin-right: 70px;
}

.prices {
  font-size: 3.3333333333rem;
  color: #000;
  margin-right: 40px;
}

.food {
  display: none;
  flex-direction: column;
  position: absolute;
  background: white;
  opacity: 0.9;
  padding: 0.7222222222rem 0.8333333333rem;
  top: 0;
  right: 0;
  left: 26%;
}

.food__box {
  display: flex;
}

.food__opened {
  display: flex;
}

.food__item {
  display: flex;
  justify-content: space-between;
}

.food__text {
  font-size: 0.8888888889rem;
  font-weight: bold;
  color: #000;
}

.food__gram {
  font-size: 0.8888888889rem;
  font-weight: bold;
  color: #000;
}

.food__icon {
  margin-right: 0.8333333333rem;
}

.slider {
  background-color: #f8faf9;
}

.button__arrow {
  border: none;
  background-color: #f8faf9;
}
.button__arrow:focus {
  outline: none;
}

.button__left {
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .button__left {
    left: 18%;
    top: 28%;
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .button__left {
    position: absolute;
    left: 2%;
    top: 28%;
  }
}

@media screen and (max-width: 768px) {
  .button__right {
    right: 17%;
    top: 28%;
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .button__right {
    position: absolute;
    right: 0;
    top: 28%;
  }
}

.reviews__section::before {
  content: url("../../img/icons/berryleaf.png");
  position: absolute;
  top: 55%;
  left: 0;
}
@media screen and (max-width: 768px) {
  .reviews__section::before {
    top: 56%;
    left: 0;
  }
}
.reviews__section::after {
  content: url("../../img/icons/strawberry.png");
  position: absolute;
  right: 8%;
  top: 52%;
}
@media screen and (max-width: 768px) {
  .reviews__section::after {
    top: 54%;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__section::after {
    top: 52%;
    right: 0;
  }
}

.reviews__display {
  background: #f8faf9 url(../../img/icons/drown-berries.png) right top no-repeat;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: #000;
}

.reviews__text {
  margin-bottom: 2rem;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url(../../img/icons/pattern.png);
}
@media screen and (max-width: 480px) {
  .order-section:before, .order-section::after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .order-section:before, .order-section::after {
    display: none;
  }
}
.order-section::before {
  content: url("../../img/icons/blueberry.png");
  position: absolute;
  bottom: 21%;
  left: 3%;
}
@media screen and (max-width: 768px) {
  .order-section::before {
    bottom: 24%;
  }
}
.order-section::after {
  content: url("../../img/icons/leaf8.png");
  position: absolute;
  right: 5%;
  bottom: 21%;
}
@media screen and (max-width: 768px) {
  .order-section::after {
    bottom: 24%;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0rem;
}

.form__input {
  width: 100%;
  border: solid 0.1666666667rem transparent;
  padding: 1rem 0.6111111111rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.2777777778rem 0.0555555556rem;
  }
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.5555555556rem;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.7777777778rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  margin-top: 1.8888888889rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/icons/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 0.5rem;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: white;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #343639;
    margin: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .menu__list {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #343639;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }
}

.menu__opened {
  display: flex;
}

.menu__cross {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu__cross {
    position: absolute;
    right: 3%;
    top: 2%;
    cursor: pointer;
    background-color: #343639;
    display: flex;
    border: none;
  }
}
@media screen and (max-width: 480px) {
  .menu__cross {
    position: absolute;
    right: -1%;
    top: 2%;
    cursor: pointer;
    background-color: #343639;
    display: flex;
  }
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0rem;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
    cursor: pointer;
  }
}

.hamburger__plank {
  display: block;
  background: white;
  height: 4px;
  border-radius: 10px;
}

.map-section {
  background: url(../../img/icons/map.png);
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2222222222rem 0;
  background: white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.contacts {
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    margin-bottom: 0.5rem;
  }
}

.contacts__place {
  font-size: 1.1666666667rem;
  font-weight: bold;
  color: #010101;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts__place {
    margin-bottom: 0.5555555556rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.phone-number-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 1.1666666667rem;
  color: #365a49;
}

.socials {
  display: flex;
}

.socials__item {
  width: 1.2777777778rem;
  height: 0.7222222222rem;
  margin-right: 0.8888888889rem;
}
.socials__item:last-child {
  margin-right: 0rem;
}

.socials__link {
  display: block;
}
.socials__link:hover {
  opacity: 0.4;
}