.menu {
    margin: 0 30px;
    padding-top: 5px;


    @include tablets {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #343639;
        margin: 0;
        justify-content: center;
    }

    @include phones {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        align-items: center;
        font-size: rem(36px);
        cursor: pointer;

    }

    @include phones {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #343639;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: rem(36px);
        cursor: pointer;
    }
}

.menu__opened {
    display: flex;
}

.menu__cross {
    display: none;

    @include tablets {
        position: absolute;
        right: 3%;
        top: 2%;
        cursor: pointer;
        background-color: #343639;
        display: flex;
        border: none;
    }

    @include phones {
        position: absolute;
        right: -1%;
        top: 2%;
        cursor: pointer;
        background-color: #343639;
        display: flex;
    }
}

.menu__item {
    margin-right: rem(15px);
    margin-bottom: rem(10px);

    &:last-child {
        margin-right: rem(0px);
    }
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}