.player {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: rem(660px);
    width: 100%;
    height: rem(370px);


    @include tablets {
        width: 95%;
    }

    @include phones {
        max-height: rem(295px);
    }
}



.player__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.player__elem {
    width: 100%;
    height: 100%;
}

.player__splash {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

.player__splash img {
    width: 100%;
    height: 90%;
}

.active .player__splash {
    display: none;
}

.player__controls {
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: rem(37px);
    background: #404040;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @include phones {
        justify-content: space-between;
    }
}

.player__playback {
    display: flex;
    align-items: center;
    width: 54%;
    position: relative;
    margin-right: rem(15px);

    @include phones {
        width: 35%;
    }

    &:before {
        content: "";
        width: 100%;
        height: rem(4px);
        position: absolute;
        display: block;
        background: url(../../img/icons/stick.png) no-repeat;

    }
}

.player__playback-button {
    background: #626262;
    border: none;
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
}

.player__start {
    background: url(../../img/icons/play.png) no-repeat;
    background-position: center;
    width: rem(55px);
    height: 100%;
    border: none;
    margin-right: rem(10px);
}

.player__paused {
    background: url(../../img/icons/pause.png) no-repeat;
    background-position: center;
}

.player__start:hover {
    cursor: pointer;
}

.player__volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;

    @include phones {
        width: 33%;
    }
}

.volume__pic {
    width: rem(40px);
    height: rem(20px);
    border: none;
    background-position: center;

    background: url(../../img/icons/Volumgray.png) no-repeat;
}

.volume__pic--nosound {
    background: url(../../img/icons/mute.png) no-repeat;
    background-position: center;
}

.volume__playback {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
        content: "";
        width: 90%;
        height: rem(4px);
        position: absolute;
        display: block;
        background: url(../../img/icons/stickvol.png) no-repeat;
    }
}

.volume__playback-button {
    background: #626262;
    border: none;
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
}