.reviews__section {
    background: url("./img/icons/leaf7.png") left bottom -60% no-repeat;
    position: relative;

    &::before {
        content: url("./img/icons/berries1.png");
        position: absolute;
        bottom: -20%;
        left: 0;
    }

    &::after {
        content: url("./img/icons/strawberry.png");
        position: absolute;
        right: 6%;
        top: 5%;
    }
}

.reviews__display {
    background: #f8faf9 url(./img/icons/drown-berries.png) right top no-repeat;
    padding: 50px 45px 34px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 90px;
        height: 90px;
        background: white;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -65px;
    }
}

.reviews__display-inner {
    display: flex;
}

.reviews__avatar {
    width: 254px;
    height: 260px;
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: 20px;
}

.reviews__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #000;
}

.reviews__text {
    margin-bottom: 36px;
}

.reviews__author {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}