.phone-number__icon-elem {
    fill: white;
}

.feature__icon-elem {
    fill: #c3f5fd;
}

.benefit__icon {
    fill: black;
}

.phone-number__icon-elem-green {
    fill: $darkgreen;
}

.socials__link-elem {
    fill: black;
}