.team {
    display: flex;
    justify-content: space-between;


    @include tablets {
        padding: 0 10%;
        flex-direction: column;
        align-items: center;
    }
}

.team-section {

    &::before {
        content: url("../../img/icons/leafberryslider.png");
        left: 85%;
        top: 37%;
        position: absolute;


    }
}

.team__item {
    flex: 1;
    text-align: center;
    margin-right: rem(20px);
    position: relative;
    max-width: rem(260px);

    @include tablets {
        flex: initial;
        margin-right: 0;
    }
}

.team__member {
    height: rem(288px);
    margin-bottom: rem(20px);
}

.team__title {
    color: #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: rem(21px);
    font-weight: bold;
    margin-bottom: rem(20px);

    &:after {
        content: url("../../img/icons/polygon.png");
        right: -1%;
        top: 5%;
        position: relative;
    }
}

.team--version--desktop .team__content {
    position: absolute;
    top: 100%;
}

.team__content {
    overflow: hidden;
    height: 0;
    transition: height .3s;

}

.team--version--mobile {
    display: none;

    @include tablets {
        display: flex;
    }
}

.team--version--mobile .team__item {
    margin-bottom: rem(10px);
}

.team__content-text {
    font-weight: 300;
    color: #666666;
    font-size: rem(15px);
}

.team__occ {
    color: #2a2323;
    font-size: rem(18px);
    font-weight: 500;
}

.team__content-block {
    padding-bottom: rem(5px);
}

.team--version--desktop {
    @include tablets {
        display: none;
    }
}